@import '../../assets/scss/';

.ult-nav {
  transition: .3s left ease-in;
  background: theme(header);

  @include query(md) {
    .ult-sidebar-open & {
      left: layout(sidebar, width);
    }
    .ult-sidebar-closed & {
      left: layout(sidebar, closed);
    }
  }

  &-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  &-item {
    float: left;
  }
  &-link,
  & > li > a {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;

    // @include query(md) {
    // }
  }
  &-toggle {
    cursor: pointer;
    display: inline-block;

    &-lines {
      display: block;
      margin: 4px 0;
      width: 25px;
      border-top: 1px solid palette(text primary);
      border-bottom: 1px solid palette(text primary);

      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: palette(text primary);
        margin: 4px 0;
      }
    }

    // &-line {
    //   display: block;
    //   width: 30px;
    //   height: 1px;
    //   background: palette(text primary);
    //
    //   &:nth-child(2) {
    //     margin: 4px 0;
    //   }
    // }
  }
}
